@import 'base';

/* premium.css */

section { margin: 20px 0; }

#file_generated_at small {
  margin-left: 0.8em;
}
#file_generating_progress {
  display: none;
  margin: 10px 0;
}
#file_generating_progress .progress.progress-striped.active .progress-bar {
  width: 100%;
}
