<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ERROR - Better Eight (8card.net) Tools</title>
  </head>
  <body>
    <h1>Error</h1>
    <p>申し訳ありません。<br/>
      このページが表示される場合は、ツールが正常に動作していない可能性があります。</p>
    <p>お手数ですが、少し時間をあけてEightページを再読み込みいただいてから、再度お試し下さい。</p>
    <h2>サポート</h2>
    <p>状況が改善しない場合は、以下の情報を記載いただきお問い合わせください。</p>
    <ul>
      <li>Eightプレミアム会員か通常会員か</li>
      <li>プレミアム会員の場合は登録（支払）したデバイス種別（iPhone/iPad/Android）</li>
    </ul>
    <p><a href="https://chrome.google.com/webstore/detail/better-eight-8cardnet-too/jjdipcmdpdmbjifjnccldmccobipombh/support?hl=ja">サポート：Better Eight (8card.net) Tools</a></p>
  </body>
</html>
