<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Better Eight Tools (for Premium user)</title>
    <link rel="stylesheet" href="../css/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/premium.css">
  </head>
  <body tabindex="1">
    <div class="container">
      <button type="button" class="close" aria-hidden="true" aria-label="Close">&times;</button>
	<p class="text-right">
          <span class="label label-warning">
	    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	    Premium User
	  </span>
	</p>
      <div class="well">
	<h3>データダウンロード</h3>
	<section>
	  <h4>最新データファイル</h4>
	  <table id="latest_file" class="table table-striped table-condensed">
	    <thead>
	      <tr>
		<th>作成日</th>
		<th>名刺枚数</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td id="file_generated_at">----/--/-- --:--:--</td>
		<td id="cards_count">-----</td>
	      </tr>
	    </tbody>
	  </table>
	  <div class="text-right">
	    <button id="update_file" type="button" class="btn btn-xs">
	      ファイル更新（再生成）</button>
	    <div id="file_generating_progress">
	      <div class="progress progress-striped active">
		<div class="progress-bar progress-bar-info"></div>
	      </div>
	    </div>
	  </div>
	</section>
	<section>
	  <h4>各種データダウンロード</h4>
	  <p>最新データファイルを成形してダウンロード</p>
	  <ul class="list-inline">
	    <li>
	      <button id="export_original" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="EightオリジナルCSV">
		Original CSV</button></li>
	    <li>
	      <button id="export_csv_plain" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="余分なヘッダを除いたCSV">
		Plain CSV</button></li>
	    <li>
	      <button id="export_csv_gmail" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Gmailインポート用CSV">
		Gmail CSV</button></li>
	    <li>
	      <button id="export_vcard" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="iPhone(iCloud), Outlook等へインポート可能な形式">
		vCard</button></li>
	  </ul>
	</section>
      </div>
    </div>
    <script src="../js/libs/jquery/jquery-2.1.3.min.js"></script>
    <script src="../js/libs/google/analytics.js"></script>
    <script src="../js/libs/jquery/jquery-dateFormat.min.js"></script>
    <script src="../js/libs/jquery/jquery.color.js"></script>
    <script src="../js/libs/jquery/jquery-highlight-effect.js"></script>
    <script src="../js/libs/csv/csv.min.js"></script>
    <script src="../js/libs/bootstrap/tooltip.js"></script>
    <script src="../js/libs/util.js"></script>
    <script src="../js/models/data-loader.js"></script>
    <script src="../js/models/card.js"></script>
    <script src="../js/controllers/datafile.js"></script>
  </body>
</html>
